sudo: false
language: node_js
node_js:
  - '0.10'
cache:
  - directories:
    - node_modules
before_script:
  - npm install -g gulp
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script: gulp test
